* {

    font-family: poppins;

    padding: 0px;



}

#taskValue {
    color: white;
    text-align: -webkit-center;
    padding-top: 30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

}



input {

    align-content: center;
    cursor: pointer;
    font-weight: 400;
    border-radius: 54px;
    text-align: start;
    padding: 12px 10px;
    font-size: 17px;
    border: none;
    outline: none;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    max-width: 500px;
    transition: background-color 200ms ease-in-out;
    width: 100%;



}


.parent {
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    width: fit-content;
    align-items: center;
    margin-bottom: 17px;
}

.text {
    margin: 0px;
}

svg {
    cursor: pointer;
    color: rgb(255, 255, 255)
}

.svgcont {
    cursor: pointer;
    display: flex;
    gap: 13px;
    align-items: center;
    margin-left: 35px;
}

.svgcont .svg-1:hover svg {
    color: rgb(69, 255, 12)
}

.svgcont .svg-2:hover svg {
    color: rgb(255, 0, 0)
}

.center-container {
    margin-top: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
}

.center-container button {
    padding: 11px 26px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    border-top-left-radius: 11px;
    border-bottom-left-radius: 11px;
    font-size: 17px;

}

.center-container button:hover {
    transform: scale(1.034);
    transition: all 0.5s cubic-bezier(0.25, 0.1, 0.08, 1.02) 0s;

}

.ok {
    background-color: #d9c93e3d !important;
    text-decoration: line-through;
    opacity: 10px;
    transition: 0.3s linear;
}

.cont {
    display: flex;
    justify-content: start;
    align-content: center;

}

#clock {
    font-family: cursive;
    margin-top: 8px;
    margin-left: 7px;
    font-size: 30px;
}

h2 {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 70px;
    margin-top: -30px;
}

.darktheme {
    background-image: linear-gradient(91deg, #575656, #062e3f);
    color: #ffdfdb;
    transition: 0.3s linear;
    background-repeat: round;

    #input {
        background-color: black;
        color: #f2ffdb;
        transition: 0.3s linear;
    }

    .parent {
        background-color: #000000;
        color: #f2ffdb;
        transition: 0.3s linear;
    }

    .parent:hover {
        background-color: #424141;
        cursor: pointer;
    }
}



.lighttheme {
    background-image: linear-gradient(100deg, #a3e1ff, #dcdcdc);
    color: #1a150e;
    transition: 0.3s linear;

    #input {
        background-color: #00000026;
        transition: 0.3s linear;
    }

    .parent {
        background-color: #72d3be;
        color: black;
        transition: 0.3s linear;
    }

    .parent:hover {
        background-color: #86eed7;
    }
}

#a img:hover {
    box-shadow: 0px 0px 20px 7px #8285d3;
    transition: all 0.3s cubic-bezier(0.64, -0.3, 0.26, 1.19);
}

#b img:hover {
    box-shadow: 0px 0px 20px 7px #d5d5d5;
    transition: all 0.3s cubic-bezier(0.64, -0.3, 0.26, 1.19);


}